.navbar {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 1%;
    width: 5%;
    background-color: #383B40;
    text-align: center;
    border-right: 1px solid #ccc;
}

.navbar li {
    display: block;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin-bottom: 10%;
    background-color: #383B40;
    line-height: 0;
}

.icon {
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    color: white;
}

.navbar li:hover {
    background-color: crimson;
    color: rgb(255, 255, 255);
}