.container {
    display: inline-block;
}

.input {
    display: inline-block;
}

textarea {
    padding: initial;
    background-color: initial;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

textarea:focus {
    outline: none;
}

.button {
    padding: 10px 30px;
    border: 1px solid black;
    background-color: initial;
    color: initial;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: crimson;
}